npm config set init.author.name "Leon Ormes"=true
npm config set init.author.email "leo.normes@tessian.com"=true
npm config set init.license "MIT"=true
npm config set init.version "0.0.1"=true
init.author.name=Leon Ormes
init.author.email=leonormes@gmail.com
init.version=0.0.1
loglevel=warn
